extends ../shared/template
block content
  table#products.table.table-striped.table-hover
    thead
      tr
        th Name
        th Photo
        th Price
    tbody
      each product in products
        tr
          td
            form(method='post', action='/cart')
              input(type='hidden', name='productId', value=product._id)
              button.btn.btn-primary(type='submit')= product.name
          td(style='background-image:url("#{product.photo}")')
          td $#{product.price.toFixed(2)}
block scripts
