extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Add a Product
    .row
      .col-xs-6
        form(role='form', method='post', action='/products')
          .form-group
            label(for='name') Name
            input.form-control#name(type='text', name='name', autofocus=true)
          .form-group
            label(for='photo') Photo
            input.form-control#photo(type='text', name='photo')
          .form-group
            label(for='price') Price
            input.form-control#tags(type='number', name='price')
          button.btn.btn-success(type='submit') Add Item
      .col-xs-6

block scripts
